<a href="https://colab.research.google.com/github/eggtoastyum/class2022spring/blob/main/20220316.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**변수_variables**
1. numbers 
2. strings 
3. list 
4. dict

In [2]:
a = 1; print(type(a)) #numbers의 type에는 int(정수)와 float(실수)가 있다!

<class 'int'>

In [3]:
a = 1.1; print(type(a))

<class 'float'>

In [4]:
a = '123'; print(type(a)); print(a[1]) #string(글자)는 따옴표 필수! 숫자여도 따옴표 있으면 문자임

<class 'str'>
2

In [6]:
a = 'hello'; print(type(a)); print(a[1]) #파이썬은 1이 아닌 0부터 시작임

<class 'str'>
e

In [7]:
a = [1, 2, 3, 4]; print(type(a)); print(a[0]) #list는 대괄호 사용, list안에 list도 가능

<class 'list'>
1

In [8]:
a = [1,'a', [3, '4']]; print(type(a)); print(a[0]); print(a[1]); print(a[2]); print(a[2][1]) #list와 string은 indexing하는 방법이 같음

<class 'list'>
1
a
[3, '4']
4

In [9]:
a =	{"a": "apple", "b": "orange", "c": 2014} #dict는 print할 때 key단어가 input이 됨.
print(type(a))
print(a["a"])

<class 'dict'>
apple