<a href="https://colab.research.google.com/github/eggtoastyum/class2022spring/blob/main/20220328.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

서비스 설명 : 조회연도를 입력하여 **황사주의보 발령 내역**을 조회 (내역이 2020년만 있음)

In [ ]:
!pip install gradio
import gradio as gr
import requests
import pandas as pd

In [22]:
URL = ('http://apis.data.go.kr/B552584/OzYlwsndOccrrncInforInqireSvc/'
      'getYlwsndAdvsryOccrrncInfo?'
      'year=2020'
      '&pageNo=1'
      '&numOfRows=100'
      '&returnType=json'
      '&serviceKey=I0cG5zsEWsS6OaDn2Zx3G%2B%2BAb8rloVMcWEDt7q%2FwWTClolNq6LkIxLWD6Y9i%2BhLOG9vR0zBInL%2F9Z3%2BVprKF2A%3D%3D')
response = requests.get(URL)

In [ ]:
r = response.json()
r

In [35]:
items = r['response']['body']['items']

dataTime = [item['dataTime'] for item in items]
tmArea = [item['tmArea'] for item in items]
tmCnt = [item['tmCnt'] for item in items]


dataTime = pd.Series(dataTime)
tmArea = pd.Series(tmArea)   
tmCnt = pd.Series(tmCnt)


df = pd.DataFrame({ 'dataTime': dataTime, 'tmArea': tmArea,'tmCnt':tmCnt})
df

     dataTime                                             tmArea  tmCnt
0  2020-02-22  백령도, 서울, 인천, 수원, 북춘천, 청주, 대전, 안동, 대구, 전주, 창원, ...      1
1  2020-04-04                       백령도, 인천, 청주, 대전, 광주, 흑산도, 홍성      2
2  2020-04-22                  백령도, 북강릉, 서울, 인천, 수원, 청주, 안동, 북춘천      3
3  2020-05-11                               백령도, 서울, 인천, 수원, 북춘천      4
4  2020-06-04                                             청주, 안동      5
5  2020-10-22         서울, 백령도, 인천, 북강릉, 북춘천, 전주, 광주, 목포, 흑산도, 제주      6
6  2020-11-01                                   서울, 백령도, 홍성, 흑산도      7
7  2020-11-02                                    서울, 홍성, 제주, 서귀포      7

In [52]:
def test(year):
  URL = ('http://apis.data.go.kr/B552584/OzYlwsndOccrrncInforInqireSvc/'
      'getYlwsndAdvsryOccrrncInfo?'
      'year='+year+
      '&pageNo=1'
      '&numOfRows=100'
      '&returnType=json'
      '&serviceKey=I0cG5zsEWsS6OaDn2Zx3G%2B%2BAb8rloVMcWEDt7q%2FwWTClolNq6LkIxLWD6Y9i%2BhLOG9vR0zBInL%2F9Z3%2BVprKF2A%3D%3D')
  
  response = requests.get(URL)
  r = response.json()
  items = r['response']['body']['items']
  
  dataTime = [item['dataTime'] for item in items]
  tmArea = [item['tmArea'] for item in items]
  tmCnt = [item['tmCnt'] for item in items]
  
  dataTime = pd.Series(dataTime)
  tmArea = pd.Series(tmArea)   
  tmCnt = pd.Series(tmCnt)
  
  df = pd.DataFrame({ 'dataTime':dataTime, 'tmArea': tmArea, 'tmCnt':tmCnt})
  return df

In [54]:
iface = gr.Interface(test, gr.inputs.Dropdown(['2020']), outputs=['dataframe'])  #서비스 기술문서를 보니까 2020년도의 자료만 있는듯 
iface.launch(debug=True)

Colab notebook detected. This cell will run indefinitely so that you can see errors and logs. To turn off, set debug=False in launch().
Running on public URL: https://18141.gradio.app

This share link expires in 72 hours. For free permanent hosting, check out Spaces (https://huggingface.co/spaces)

Keyboard interruption in main thread... closing server.

(<fastapi.applications.FastAPI at 0x7f8bc343dd50>,
 'http://127.0.0.1:7860/',
 'https://18141.gradio.app')